@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
  font-family: 'Nunito', sans-serif;
  background-color: #262936;
  margin: 0;
  height: 100vh;
}
.wrapper {
  background-image: url('background.jpg');
  color: #fff;
  background-color:#262936;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .content {
  background-color: rgba(0,0,0,0.6) !important;
  padding: 30px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  min-width: 2  00px;
}
.wrapper .content button {
  padding: 15px;
  width: 150px;
  border: unset;
  background: #262936;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wrapper .content button:focus {
  outline: none;
}
.wrapper .content header {
  text-align: center;
}
.wrapper .content header h1 {
  color: #fff;
  margin-top: 0;
  font-size: 230%;
}
.wrapper .content .login-form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
::-webkit-input-placeholder { /* Edge */
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

::placeholder {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

.wrapper .content .login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 310px;
}
.wrapper .content .login-form .input-group input, textarea {
  width: auto;
  padding: 15px;
  font-size: 13px;
  color: #fff;
  border: 0px solid #fff;
  text-align: left;
  background-color: rgba(0,0,0,0.6) !important;
  border-radius: 5px;
  tranistion: background 0.5s;
  -webkit-tranistion: background 0.5s;
}
.wrapper .content .login-form .input-group input:focus {
  color: #fff;
  outline: 0;
}
.wrapper .content .login-form .input-group label {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 16px;
}
input[type="text"]{
  color: white;
}
.wrapper .content .login-form .input-group button {
  background-color: #8b0023;
  border: unset;
  color: #fff;
  align-self: baseline;
  margin-top: 15px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.wrapper .content .login-form .input-group button:hover {
  background-color: rgba(0,0,0,0.8) !important;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .wrapper .content {
    padding-right: 0;
    padding-left: 0;
    margin: 0 10px;
  }
}
